.test-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.test-page__container {
  display: flex;

  width: 1200px;
}
.test-page__middle-results {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 20px;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}
